.side_main {
    margin-left: 15%;
    width: 85%;
    // border: 2px solid red;
    padding: 20px 50px;

    .side_content {
        display: flex;
        justify-content: space-between;

        .side_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            p {
                font-size: 24px;
                font-weight: 500;
            }

            .fi-rr-menu-dots,
            .fi-sr-progress-download {
                color: #797b7e;
                font-size: 18px;
            }
        }

        .btn_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 15px 20px;
            border-radius: 10px;
            border: none;
            color: white;
            background-color: #ff7009;
            border-top: 1.5px solid #a14300;
            border-left: 1.5px solid #a14300;
            box-shadow: 0 1.5px 2px #fffffe8c inset,
                2px 0 2px rgba(255, 255, 255, 0.137) inset,
                -1.001px 0px 2px rgba(255, 255, 255, 0.575) inset,
                1.5px 1.5px 0px #a14300;

            .add {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.05rem;
            }
        }
    }

    .side_second_part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        font-weight: 500;

        .side_second_list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            color: #a0a1a3;

            .first {
                color: black;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -15px;
                    border: 1px solid #ff7009;
                    border-radius: 20px;
                    width: 100px;
                    z-index: 1;
                }

            }

            .clr {
                color: black;
            }

            .second {
                color: black;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    border: 1px solid #08070f;
                    width: 40px;
                }
            }

            .side_second_menu {
                display: flex;
                gap: 10px;
            }

            .horView {
                border: none;
                border-left: 1px solid #a0a1a35e;
                height: 20px;
            }
        }

        .side_setting {
            display: flex;
            gap: 20px;

            hr {
                border: none;
                border-left: 1px solid #a0a1a336;
            }

            .side_second_menu {
                display: flex;
                gap: 10px;
            }

            .drop_bg {
                background-color: #f0f1f5;
                padding: 5px;
                border-radius: 10px;
                color: #9c9da2;
            }
        }
    }

    .hori {
        margin-top: 10px;
        border: none;
        border-top: 1px solid #a0a1a34b;
    }

    .third_row {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .search_container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-weight: 600;
            font-size: 14px;

            hr {
                border: none;
                border-left: 2px solid #a0a1a32d;
                height: 30px;
            }

            .search {
                display: flex;
                align-items: center;
                position: relative;

                input {
                    padding: 6px 10px;
                    width: 200px;
                    border-radius: 15px;
                    border: none;
                    border: 1px solid #a0a1a360;
                    font-size: 17px;

                    &::placeholder {
                        padding-left: 20px;
                    }
                }

                .fi-rr-search {
                    position: absolute;
                    left: 10px;
                }

            }

            .search_date {
                display: flex;
                gap: 10px;
                background-color: #1f1a2f;
                color: white;
                padding: 8px 13px;
                border-radius: 10px;
                border-top: 1px solid #151122 ;
                box-shadow: 0 1.5px 2px #fffffe4b inset,
                2px 0 2px rgba(255, 255, 255, 0.137) inset,
                1.5px 1.5px 0px #1f1a2f;
            }

            .search_shipment {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #a0a1a3;
                padding: 8px 13px;
                border-radius: 10px;
                position: relative;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.151);
            }

            .dropdown {
                position: absolute;
                top: 230px;
                left: 40%;
                z-index: 10;
                display: flex;
                flex-direction: column;
                gap: 10px;
                background-color: white;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.178);

                .dropzone {
                    display: flex;
                    gap: 10px;
                }
            }

            .search_filter {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #a0a1a3;
                padding: 8px 13px;
                border-radius: 10px;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.144);

            }

            .hide {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    border: 1px solid #08070f;
                    width: 32px;
                }
            }
        }

        .search_manage {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid #a0a1a3;
            padding: 8px 13px;
            border-radius: 10px;
            font-weight: 600;
            font-size: 14px;
        }
    }
}