.side_main{
    width: 85%;
    // border: 2px solid red;
    padding: 20px 50px;
    .side_content{
        display: flex;
        justify-content: space-between;
        .side_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            p{
                font-size: 20px;
                font-weight: 500;
            }
        }
        .btn_icon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 15px 20px;
            border-radius: 10px;
            border: none;
            color: white;
            background-color: #ff7009;
            border-top: 2px solid #a14300;
            .add{
                font-size: 16px;
            }
        }
    }
    
    .side_second_part{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        
        .side_second_list{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            color: #a0a1a3;
            .first{
                color: black;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -11px;
                    border: 1px solid #ff7009;
                    border-radius: 20px;
                    width: 100px;
                    z-index: 1;
                }

            }
            .second{
                color: black;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    border: 1px solid #08070f;
                    width: 70px;
                }
            }
            .side_second_menu{
                display: flex;
                gap: 10px;
            }
            .horView{
                border: none;
                border-left: 1px solid #a0a1a3;
                height: 20px;
            }
        }
        .side_setting{
            display: flex;
            gap: 20px;
            .side_second_menu{
                display: flex;
                gap: 10px;
            }
            .drop_bg{
                background-color: #f0f1f5;
                padding: 5px;
                border-radius: 10px;
                color: #9c9da2;
            }
        }
    }
    .hori{
        margin-top: 10px;
        border: none;
        border-top: 1px solid   #a0a1a34b;
    }
    .third_row{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        .search_container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            hr{
                border: none;
                border-left: 2px solid #a0a1a3;
                height: 30px;
            }
            .search{
                display: flex;
                // justify-content: center;
                align-items: center;        
                position: relative;
                input{
                    padding: 10px;
                    border-radius: 15px;
                    border: none;
                    border:2px solid #a0a1a3;
                    &::placeholder{
                        padding-left: 20px;
                    }
                }
                .fi-rr-search{
                    position: absolute;
                    left: 10px;
                }
        
            }
            .search_date{
                display: flex;
                gap: 10px;
                background-color: #08070f;
                color: white;
                padding: 10px 13px;
                border-radius: 10px;
            }
            .search_shipment{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #a0a1a3;
                padding: 10px 13px;
                border-radius: 10px;
            }
            .search_filter{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #a0a1a3;
                padding: 10px 13px;
                border-radius: 10px;
            }
        }
        .search_manage{
            display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #a0a1a3;
                padding: 10px 13px;
                border-radius: 10px;
        }
    }
}